.nav{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: indigo;
}

.title{
    cursor: pointer;
    color: yellow;
    margin-left: 10px;
}

.subtitle{
    cursor: pointer;
    color: white;
}